In [5]:
import sys
sys.path.insert(0, r'C:\Users\rossm\Data_Science_Work\SpaceX_DataProject\data')
import pandas as pd
import numpy as np
from raw_data import scraped_df, api_df

In [6]:
print(scraped_df.head())
print(api_df.head())

  Flight No. Launch site                               Payload Payload mass  \
0          1       CCAFS  Dragon Spacecraft Qualification Unit            0
1          2       CCAFS                                Dragon            0
2          3       CCAFS                                Dragon       525 kg
3          4       CCAFS                          SpaceX CRS-1     4,700 kg
4          5       CCAFS                          SpaceX CRS-2     4,877 kg

  Orbit Customer Launch outcome      Version Booster Booster landing  \
0   LEO   SpaceX      Success\n  F9 v1.0 7 B0003.1 8         Failure
1   LEO     NASA        Success  F9 v1.0 7 B0004.1 8         Failure
2   LEO     NASA        Success  F9 v1.0 7 B0005.1 8    No attempt\n
3   LEO     NASA      Success\n  F9 v1.0 7 B0006.1 8      No attempt
4   LEO     NASA      Success\n  F9 v1.0 7 B0007.1 8    No attempt\n

               Date   Time
0      4 June 2010,  18:45
1  8 December 2010,  15:43
2      22 May 2012,  07:44
3   8 October 2012,  00:35
4     1 March 2013,  15:10
   Flight_number BoosterVersion  PayloadMass Orbit       LaunchSite  \
0              1       Falcon 1         20.0   LEO  Kwajalein Atoll
1              2       Falcon 1          NaN   LEO  Kwajalein Atoll
3              4       Falcon 1        165.0   LEO  Kwajalein Atoll
4              5       Falcon 1        200.0   LEO  Kwajalein Atoll
5              6       Falcon 9          NaN   LEO     CCSFS SLC 40

     Outcome  Flights  GridFins  Reused   Legs LandingPad  Block  ReusedCount  \
0  None None        1     False   False  False       None    NaN            0
1  None None        1     False   False  False       None    NaN            0
3  None None        1     False   False  False       None    NaN            0
4  None None        1     False   False  False       None    NaN            0
5  None None        1     False   False  False       None    1.0            0

     Serial   Longitude   Latitude        Date
0  Merlin1A  167.743129   9.047721  2006-03-24
1  Merlin2A  167.743129   9.047721  2007-03-21
3  Merlin2C  167.743129   9.047721  2008-09-28
4  Merlin3C  167.743129   9.047721  2009-07-13
5     B0003  -80.577366  28.561857  2010-06-04