In [1]:
from sqlalchemy import create_engine, text
import pandas as pd
import os
from dotenv import load_dotenv

# Load your environment variables
load_dotenv()
db_username = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD')
db_name = os.getenv('DB_NAME')

# Create SQLAlchemy engine
engine = create_engine(f'postgresql://{db_username}:{db_password}@localhost:5432/{db_name}')

In [2]:
query = """
SELECT
    *
FROM
    merged_cleaned_2025_04_22;
"""
df = pd.read_sql_query(query, engine)
df

,flight_no,launch_site,payload,payload_mass,orbit,customer,launch_outcome,version_booster,booster_landing,date,flights,gridfins,reused,block,reusedcount,serial,landingpad
0,1,CCAFS,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success\n,F9 v1.0 7 B0003.1 8,Failure,2010-06-04,1,False,False,1.0,0,B0003,LZ-1
1,9,Cape Canaveral,SpaceX CRS-3,"2,296 kg",LEO,NASA,Success\n,F9 v1.1,Controlled,2014-04-18,1,False,False,1.0,0,B1006,LZ-1
2,10,Cape Canaveral,Orbcomm-OG2,"1,316 kg",LEO,Orbcomm,Success,F9 v1.1,Controlled,2014-07-14,1,False,False,1.0,0,B1007,LZ-1
3,14,Cape Canaveral,SpaceX CRS-5,"2,395 kg",LEO,NASA,Success,F9 v1.1 [,Failure,2015-01-10,1,True,False,1.0,0,B1012,JRTI-1
4,15,Cape Canaveral,DSCOVR,570 kg,HEO,USAF,Success\n,F9 v1.1 [,Controlled,2015-02-11,1,True,False,1.0,0,B1013,LZ-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,116,KSC,Starlink,"15,600 kg",LEO,SpaceX,Success\n,F9 B5 B1049.9 655,Success,2021-05-04,9,True,True,5.0,9,B1049,OCISLY
87,117,CCSFS,Starlink,"15,600 kg",LEO,SpaceX,Success\n,F9 B5 B1051.10 657,Success,2021-05-09,10,True,True,5.0,12,B1051,OCISLY
88,119,CCSFS,Starlink,"15,600 kg",LEO,SpaceX,Success\n,F9 B5 B1063.2 665,Success,2021-05-26,2,True,True,5.0,6,B1063,JRTI
89,120,KSC,SpaceX CRS-22,"3,328 kg",LEO,NASA,Success\n,F9 B5 B1067.1 668,Success,2021-06-03,1,True,False,5.0,5,B1067,OCISLY
90,121,CCSFS,SXM-8,"7,000 kg",GTO,Sirius XM,Success\n,F9 B5,Success,2021-06-06,3,True,True,5.0,9,B1061,JRTI

In [3]:
with engine.connect() as conn:
    conn.execute(text("""
        CREATE OR REPLACE VIEW current AS
        SELECT * FROM merged_cleaned_2025_04_22;
    """))

In [4]:
query = """
SELECT
    DISTINCT(booster_landing)
FROM
    current;
    """
df = pd.read_sql_query(query, engine)
df

  booster_landing
0        Failure
1         Success
2         Failure
3      Controlled

In [5]:
query = """
SELECT
    launch_site,
    COUNT(*) as total_launches,
    SUM(CASE WHEN booster_landing = 'Success' THEN 1 ELSE 0 END) AS successful_landings,
    ROUND(SUM(CASE WHEN booster_landing = 'Success' THEN 1 ELSE 0 END)::DECIMAL / COUNT(*) * 100, 2) as success_rate
FROM
    current
GROUP BY
    launch_site
ORDER BY
    success_rate DESC;"""
df = pd.read_sql_query(query, engine)
df['success_rate'] = df['success_rate'].astype(str) + '%'
df

      launch_site  total_launches  successful_landings success_rate
0             KSC              27                   26        96.3%
1           CCSFS              12                   11       91.67%
2           CCAFS              27                   23       85.19%
3            VAFB              12                   10       83.33%
4  Cape Canaveral              13                    7       53.85%

In [6]:
query = """
SELECT
    orbit,
    COUNT(*) AS total_launches,
    SUM(CASE WHEN booster_landing = 'Success' THEN 1 ELSE 0 END) AS successful_landings,
    ROUND(SUM(CASE WHEN booster_landing = 'Success' THEN 1 ELSE 0 END)::DECIMAL /COUNT(*) * 100, 2) as success_rate
FROM
    current
GROUP BY
    orbit
ORDER BY
    success_rate DESC;"""
df = pd.read_sql_query(query, engine)
df['success_rate'] = df['success_rate'].astype(str) + '%'
df

   orbit  total_launches  successful_landings success_rate
0    SSO               6                    6       100.0%
1    MEO               2                    2       100.0%
2    GTO              19                   17       89.47%
3    LEO              57                   47       82.46%
4  Polar               5                    4        80.0%
5    HEO               2                    1        50.0%

In [7]:
query = """
SELECT
    landingpad,
    COUNT(*) AS total_launches,
    SUM(CASE WHEN booster_landing = 'Success' THEN 1 ELSE 0 END) AS successful_landings,
    ROUND(SUM(CASE WHEN booster_landing = 'Success' THEN 1 ELSE 0 END)::DECIMAL * 100 / COUNT(*), 2) AS success_rate
FROM
    current
GROUP BY
    landingpad
ORDER BY
    success_rate DESC;"""
df = pd.read_sql_query(query, engine)
df['success_rate'] = df['success_rate'].astype(str) + '%'
df

  landingpad  total_launches  successful_landings success_rate
0       LZ-4               3                    3       100.0%
1       JRTI              20                   19        95.0%
2     OCISLY              46                   42        91.3%
3       LZ-1              20                   13        65.0%
4     JRTI-1               2                    0         0.0%

In [8]:
query = """
SELECT
    reused,
    COUNT(*) AS total_launches,
    SUM(CASE WHEN booster_landing= 'Success' THEN 1 ELSE 0 END) AS successful_launches,
    ROUND(SUM(CASE WHEN booster_landing = 'Success' THEN 1 ELSE 0 END)::DECIMAL / COUNT(*) * 100, 2) AS success_rate
FROM
    current
GROUP BY
    reused
ORDER BY
    success_rate DESC;"""
df = pd.read_sql_query(query, engine)
df['success_rate'] = df['success_rate'].astype(str) + '%'
df

  reused  total_launches  successful_launches success_rate
0   True              51                   46        90.2%
1  False              40                   31        77.5%

In [9]:
query = """
SELECT
    gridfins,
    COUNT(*) AS total_launches,
    SUM(CASE WHEN booster_landing= 'Success' THEN 1 ELSE 0 END) AS successful_launches,
    ROUND(SUM(CASE WHEN booster_landing = 'Success' THEN 1 ELSE 0 END)::DECIMAL / COUNT(*) * 100, 2) AS success_rate
FROM
    current
GROUP BY
    gridfins
ORDER BY
    success_rate DESC;"""
df = pd.read_sql_query(query, engine)
df['success_rate'] = df['success_rate'].astype(str) + '%'
df

  gridfins  total_launches  successful_launches success_rate
0     True              88                   77        87.5%
1    False               3                    0         0.0%

In [10]:
query = """
SELECT
    flights,
    COUNT(*) AS total_launches,
    SUM(CASE WHEN booster_landing= 'Success' THEN 1 ELSE 0 END) AS successful_launches,
    ROUND(SUM(CASE WHEN booster_landing = 'Success' THEN 1 ELSE 0 END)::DECIMAL / COUNT(*) * 100, 2) AS success_rate
FROM
    current
GROUP BY
    flights
ORDER BY
    flights DESC;"""
df = pd.read_sql_query(query, engine)
df['success_rate'] = df['success_rate'].astype(str) + '%'
df

   flights  total_launches  successful_launches success_rate
0       10               1                    1       100.0%
1        9               2                    2       100.0%
2        8               2                    2       100.0%
3        7               4                    4       100.0%
4        6               5                    4        80.0%
5        5               5                    4        80.0%
6        4               7                    6       85.71%
7        3               8                    8       100.0%
8        2              17                   15       88.24%
9        1              40                   31        77.5%

In [11]:
query = """
SELECT
    block,
    reusedcount,
    gridfins,
    COUNT(*) AS total_launches,
    SUM(CASE WHEN booster_landing = 'Success' THEN 1 ELSE 0 END) AS successful_landings,
    ROUND(SUM(CASE WHEN booster_landing = 'Success' THEN 1 ELSE 0 END)::DECIMAL / COUNT(*), 2) * 100 AS success_rate
FROM
    current
GROUP BY
    block, reusedcount, gridfins
ORDER BY
    block DESC;"""

df = pd.read_sql_query(query, engine)
df['success_rate'] = df['success_rate'].astype(str) + '%'
df

,block,reusedcount,gridfins,total_launches,successful_landings,success_rate
0,5.0,0,True,1,0,0.0%
1,5.0,9,True,12,12,100.0%
2,5.0,2,True,2,2,100.0%
3,5.0,13,True,7,7,100.0%
4,5.0,6,True,2,2,100.0%
5,5.0,3,True,7,6,86.0%
6,5.0,8,True,1,1,100.0%
7,5.0,12,True,16,16,100.0%
8,5.0,4,True,4,3,75.0%
9,5.0,5,True,7,6,86.0%
10,4.0,1,True,5,5,100.0%
11,4.0,0,True,1,1,100.0%
12,3.0,1,True,11,9,82.0%
13,2.0,1,True,4,4,100.0%
14,2.0,0,True,2,2,100.0%
15,1.0,0,True,6,1,17.0%
16,1.0,0,False,3,0,0.0%

In [12]:
query = """
WITH ranked_reused AS (
    SELECT
        DENSE_RANK() OVER(
            ORDER BY reusedcount) AS reused_count_rank,
        booster_landing,
        reusedcount
    FROM
        current
)

SELECT
    reusedcount,
    reused_count_rank,
    booster_landing
FROM
    ranked_reused
WHERE
    reused_count_rank BETWEEN 5 AND 10
ORDER BY
    reused_count_rank;
"""
    
df = pd.read_sql_query(query, engine)
df

    reusedcount  reused_count_rank booster_landing
0             4                  5         Success
1             4                  5         Failure
2             4                  5         Success
3             4                  5         Success
4             5                  6         Failure
5             5                  6         Success
6             5                  6         Success
7             5                  6         Success
8             5                  6         Success
9             5                  6         Success
10            5                  6         Success
11            6                  7         Success
12            6                  7         Success
13            8                  8         Success
14            9                  9         Success
15            9                  9         Success
16            9                  9         Success
17            9                  9         Success
18            9                  9         Success
19            9                  9         Success
20            9                  9         Success
21            9                  9         Success
22            9                  9         Success
23            9                  9         Success
24            9                  9         Success
25            9                  9         Success
26           12                 10         Success
27           12                 10         Success
28           12                 10         Success
29           12                 10         Success
30           12                 10         Success
31           12                 10         Success
32           12                 10         Success
33           12                 10         Success
34           12                 10         Success
35           12                 10         Success
36           12                 10         Success
37           12                 10         Success
38           12                 10         Success
39           12                 10         Success
40           12                 10         Success
41           12                 10         Success

In [14]:
query = """
SELECT
    version_booster,
    COUNT(*) AS total_launches,
    SUM(CASE WHEN booster_landing= 'Success' THEN 1 ELSE 0 END) AS successful_launches,
    ROUND(SUM(CASE WHEN booster_landing = 'Success' THEN 1 ELSE 0 END)::DECIMAL / COUNT(*) * 100, 2) AS success_rate
FROM
    current
GROUP BY
    version_booster
ORDER BY
    version_booster DESC;"""
df = pd.read_sql_query(query, engine)
df['success_rate'] = df['success_rate'].astype(str) + '%'
df

          version_booster  total_launches  successful_launches success_rate
0               F9 v1.1 [               4                    0         0.0%
1                 F9 v1.1               2                    0         0.0%
2     F9 v1.0 7 B0003.1 8               1                    0         0.0%
3       F9 FT B1036.2 227               1                    0         0.0%
4       F9 FT B1035.2 227               1                    1       100.0%
5       F9 FT B1032.2 245               1                    0         0.0%
6       F9 FT B1031.2 220               1                    1       100.0%
7       F9 FT B1029.2 195               1                    1       100.0%
8               F9 FT ♺ [               1                    1       100.0%
9                 F9 FT [              13                   12       92.31%
10      F9 B5 B1067.1 668               1                    1       100.0%
11      F9 B5 B1063.2 665               1                    1       100.0%
12      F9 B5 B1061.2 647               1                    1       100.0%
13      F9 B5 B1060.7 652               1                    1       100.0%
14      F9 B5 B1060.6 643               1                    1       100.0%
15      F9 B5 B1060.2 563               1                    1       100.0%
16      F9 B5 B1058.5 613               1                    1       100.0%
17      F9 B5 B1058.3 565               1                    1       100.0%
18      F9 B5 B1058.2 544               1                    1       100.0%
19      F9 B5 B1056.3 482               1                    1       100.0%
20      F9 B5 B1056.2 465               1                    1       100.0%
21      F9 B5 B1051.8 609               1                    1       100.0%
22      F9 B5 B1051.6 568               1                    1       100.0%
23      F9 B5 B1051.2 420               1                    1       100.0%
24     F9 B5 B1051.10 657               1                    1       100.0%
25      F9 B5 B1049.9 655               1                    1       100.0%
26      F9 B5 B1049.6 544               1                    1       100.0%
27      F9 B5 B1049.3 434               1                    1       100.0%
28      F9 B5 B1049.2 397               1                    1       100.0%
29      F9 B5 B1048.2 364               1                    1       100.0%
30      F9 B5 B1047.2 268               1                    1       100.0%
31      F9 B5 B1046.3 268               1                    1       100.0%
32      F9 B5 B1046.2 354               1                    1       100.0%
33      F9 B5 349 B1048 [               1                    1       100.0%
34  F9 B5 311 B1046.1 268               1                    1       100.0%
35              F9 B5 ♺ [               5                    5       100.0%
36                F9 B5 ♺               5                    4        80.0%
37          F9 B5 [ ] 413               1                    1       100.0%
38                F9 B5 [               6                    5       83.33%
39                  F9 B5              17                   15       88.24%
40                F9 B4 [               6                    6       100.0%